<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>matemática</title>

    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/estilomates.css">
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">


  </head>

{{> header}}      

  <header class="header">
      <h1 class="titulo">matemática</h1>
    </header>

<div class="container p-1">
    <h2 class="tareasdisponibles">tareas disponibles:</h2>