<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{titulo}}</title>
    
<!--Bootstrap por descarga de archivos compilados-->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/estilos.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
</head>

<body>

{{> header}}     <!-- llamando al mustacho--> 

<div class="texto11">Here you'll find notes, explanations, mock exams, books and much more to help you navegate the seas of IB school without drowning. Everything's ordered by subject, topic or teachers. Take a look, make questions and if you want, youcan share content with us. </div>

{{!-- <div>
<svg class="texto1"  viewBox="0 0 188 43" xmlns="http://www.w3.org/2000/svg"><text xml:space="preserve" style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:5.64444px;line-height:1.25;font-family:Aclonica;-inkscape-font-specification:Aclonica;text-align:center;letter-spacing:0;word-spacing:0;text-anchor:middle;fill:#000;fill-opacity:1;stroke:none;stroke-width:.264583" x="94.091" y="10.755"><tspan style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:5.64444px;font-family:Aclonica;-inkscape-font-specification:Aclonica;text-align:center;text-anchor:middle;stroke-width:.264583" x="94.091" y="10.755">Here you&apos;ll find notes, explanations, mock exams, books</tspan><tspan style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:5.64444px;font-family:Aclonica;-inkscape-font-specification:Aclonica;text-align:center;text-anchor:middle;stroke-width:.264583" x="94.091" y="17.811"> and much more to help you navegate the seas of IB school </tspan><tspan style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:5.64444px;font-family:Aclonica;-inkscape-font-specification:Aclonica;text-align:center;text-anchor:middle;stroke-width:.264583" x="94.091" y="24.867">without drowning. Everything&apos;s ordered by subject, topic or </tspan><tspan style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:5.64444px;font-family:Aclonica;-inkscape-font-specification:Aclonica;text-align:center;text-anchor:middle;stroke-width:.264583" x="94.091" y="31.922">teachers. Take a look, make questions and if you want, you</tspan><tspan style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:5.64444px;font-family:Aclonica;-inkscape-font-specification:Aclonica;text-align:center;text-anchor:middle;stroke-width:.264583" x="94.091" y="38.978">can share content with us.</tspan></text></svg>
</div> --}}

<svg class="welcome" width="100%" viewBox="0 0 261 65" xmlns="http://www.w3.org/2000/svg">
<text class="welcome delay5" xml:space="preserve" style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:5.7528px;line-height:1.25;font-family:'Henny Penny';-inkscape-font-specification:'Henny Penny';letter-spacing:0;word-spacing:0;fill:#000;fill-opacity:1;stroke:none;stroke-width:.143821" x="38.887" y="35.348">
  <tspan class="welcome letras" style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-family:'Henny Penny';-inkscape-font-specification:'Henny Penny';stroke-width:.143821" x="38.887" y="35.348">WELCOME TO THE (NOT SO WIDE) WORLD OF THE BICHOWIKI</tspan></text>
  <rect class="welcome delay1" style="fill:none;fill-opacity:1;stroke:#ff6c00;stroke-width:.656301;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers stroke fill" width="188.821" height="13.965" x="36.354" y="26.66" ry="1.648"/>
  <rect class="welcome delay2" style="fill:none;fill-opacity:1;stroke:#ff6c00;stroke-width:.660606;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers stroke fill" width="191.365" height="13.961" x="35.022" y="26.662" ry="1.648"/>
  <rect class="welcome delay3" style="fill:none;fill-opacity:1;stroke:#ff6c00;stroke-width:.705486;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers stroke fill" width="186.143" height="16.369" x="37.712" y="25.552" ry="1.932"/>
  <rect class="welcome delay4" style="fill:none;fill-opacity:1;stroke:#ff6c00;stroke-width:.759311;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:1;paint-order:markers stroke fill" width="186.089" height="18.967" x="37.739" y="24.387" ry="2.239"/></svg>
</div>

 <div class="d-grid gap-2 col-6 mx-auto">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="whatcha looking for?..." aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">search</button>
        </form>
      </div>
    </nav>
      <button class="btn btn-secondary" type="button">CONTRIBUTE TO OUR LIBRARY</button>   
  </div> 

<div class="container">Subjets</div>

<div class="row">
<a class="btn btn-ligth" href="mates" role="button">Matemática</a>

<button type="button" class="btn btn-ligth" disabled>Geografía</button>
<button type="button" class="btn btn-ligth" disabled>Global P.</button>
<button type="button" class="btn btn-ligth" disabled>Historia</button>
<button type="button" class="btn btn-ligth" disabled>Informática</button>
<button type="button" class="btn btn-ligth" disabled>IPS</button>
<button type="button" class="btn btn-ligth" disabled>Language</button>
<button type="button" class="btn btn-ligth" disabled>Literatura</button>
<button type="button" class="btn btn-ligth" disabled>Literature</button>
<button type="button" class="btn btn-ligth" disabled>Lógica</button>
<button type="button" class="btn btn-ligth" disabled>Física</button>
<button type="button" class="btn btn-ligth" disabled>Química</button>

</div>


<div class="cr">Countdown to Finals! </div>
<div id="cuenta"></div><br>

<footer class="footer">
    <div><h4>Some pages that migth be usefull... </h4></div>
      <div class="botonesfooter">
        <div class="colum"></div>

        <div><a href="https://www.wolframalpha.com/"  class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Buscador online que responde a preguntas y realiza cálculos de manera inmediata">WolframAlfa</a></div>
            
        <div><a href="https://www.cambridgeinternational.org/languages/spanish/programas-y-titulaciones/cambridge-igcse/"  class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Página oficial IB international examination">IB oficial web </a></div>
          
        <div><a href="https://www.ibo.org/"  class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Página oficial Cambridge-IGCSE">IGCSE</a></div>
          
        <div><a href="http://vishub.org/"  class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" data-bs-toggle="tooltip" data-bs-placement="right" title="Web de recursos educativos gratuitos">Vishub</a></div>
        
        <div><a href="https://www.todostuslibros.com/"  class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true" data-bs-toggle="tooltip" data-bs-placement="right" title="el nombre lo dice todo ">Tus libros gratis</a></div>
          

<script type="text/javascript">  $(document).ready(function(){$('[data-toggle="popover"]').popover({ html : true }); });</script>

      </div>
    </div>
</footer>

<!-- galeria popper para q funcionen algunos componentes de bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>         <!--archivo js compilado -->
<script src="/assets/js/simplyCountdown.min.js"></script>
<script src="/assets/js/countdown.js"></script>

</body>



</html>

