*{
    padding: 0.2rem;
    text-decoration: none; 
    
}

.header{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    
}

.labichopedia{
    
    color: rgb(0, 0, 0);
    padding: 9rem;
    display: flex;
    justify-content: center;
    font-weight: 900;
    background-color: rgb(255, 255, 255);
  background-image:url(../assets/svg/bg.titulo.svg) ;
    background-size: 85rem;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0rem;
    width: 100%;
    font-family: 'Aclonica', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
}

@media screen and (max-width:900px){
    .labichopedia{
        
       background-image: url(../assets/svg/bg.titulo.chico.svg);
       background-repeat: no-repeat;
       font-size: 2.3rem;
    }
}

.form-control.me-2 {
    width: 40rem;
    display: flex;
    justify-content: center;
    color: rgb(49, 49, 49);
    background-color: rgb(255, 255, 255);
    
}

.btn.btn-outline-secondary {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family:  'Aclonica', sans-serif, Arial, Helvetica, sans-serif ;
}

.btn.btn-outline-secondary:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: 700;
}

.btn.btn-secondary {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Aclonica', sans-serif, Arial, Helvetica, sans-serif;
    
}
.btn.btn.btn-secondary:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    }

    @media screen and (max-width:900px){
        .form-control.me-2{
            width: 12rem;
           
        }
    }

    @media screen and (max-width:900px){
        .navbar navbar-light bg-light {
            display: flex;
            justify-content: left;
            padding-left: 0rem;
            margin-left: 0rem;
           
        }
    }


.clearfix{
    
    display: flex;
    justify-content: center;
    font-family: 'Aclonica', sans-serif;
    padding: 4rem;
    background-image: url(../assets/svg/bg.texto2.svg);
    background-repeat: no-repeat;
}

@media screen and (max-width:900px){
    .clearfix{
        display: none;
    }
}

.texto {
    margin: 1rem; 
    margin-left: 20rem;
    margin-right: 15rem;
    border: 1rem;
    line-height: 3rem; 
    font-size: 1.5rem;
    background-image: url(../assets/svg/bg.texto.svg);
    
    
}
.container { 
    padding: 3rem;
    width: 30rem;
    height: 7rem;
    margin-left: 3.2rem;
    font-size: 2rem;
    background-image: url(../assets/svg/bcmaterias.svg);
    background-repeat: no-repeat;
    font-family:  'Aclonica', sans-serif, Arial, Helvetica, sans-serif ;

}

@media screen and (max-width:900px){
    .container{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        background-image: url(../assets/svg/bcmateriaschico.svg);
    }}

.row{
    margin-left: 3rem;
}

.btn.btn-ligth {
    padding: 6rem;
    padding-left: 3.5rem;
    background-image: url(../assets/svg/fondoBotones.svg);
    font-family:  'Aclonica', sans-serif, Arial, Helvetica, sans-serif ;
    font-size: 2rem;
    width: 20rem;
    height: 13rem;
    margin: 1rem;
}

@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css');

.cr {
    font-size: 2rem;
    padding: 3rem;
    color: rgb(0, 0, 0);
    background-image: url(../assets/svg/naranja.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    font-family: 'Aclonica', sans-serif, Arial, Helvetica, sans-serif;
}

#cuenta {
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-size: 1.5rem;
    background-image: url(../assets/svg/naranja.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    font-family: 'Aclonica', sans-serif, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

@media screen and (max-width:900px){
    #cuenta{
        font-size: 1rem;
        background-image: url(../assets/svg/naranjachico.svg);
        background-position-x: -7rem;
    }
}

@media screen and (max-width:900px){
    .cr{
        font-size: 1rem;
        background-image: url(../assets/svg/naranjachico.svg);
        background-position-x: -7rem;
    }
}


.footer {
    background-image: url(../assets/svg/bgFooter.svg);
    background-repeat: no-repeat;
    padding: 2rem;
    color: rgb(0, 0, 0);
    font-family: 'Aclonica', sans-serif, Arial, Helvetica, sans-serif;
}

.botonesfooter {
  padding: 1rem;
}

.btn.btn-dark {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
    font-weight: 600;
    width: 20rem;
    padding: 1rem;
}

.btn.btn-dark:hover {
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
font-weight: 600;
}
